@charset "utf-8";
/* CSS Document */

* {
	font-family: sans-serif;
	margin: 0;
}

a {
	color: white;
	font-weight: bold;
}

body {
	background-color: #0C324A;
	background-size: cover;
	background-repeat: repeat-y;
	color: white;
}

footer {
	font-style: italic;
	margin: 20px;
	text-align: center;
}

h1, h2, h3 {
	margin-bottom: 20px;
	text-align: center;
	background: rgba(0,0,0,.5);
}

h4 {
	margin: 10px;
}

p, ol, li {
	margin: 10px;
}

table, th, td {
	border-spacing: 0;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

td {
	border-bottom: 1px solid white;
}

th {
	background: rgba(0,0,0,.5);
	color: white;
	border-collapse: collapse;
}

.banner {
	background-color: #2D8EFE;
	padding: 10px;
	text-align: center;
}

.button-white {
	background-color: white;
	border: none;
	border-radius: 24px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.button-white:hover {
	background-color: #C8C8C8;
	border: none;
	border-radius: 24px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.button-yellow {
	justify-content: center;
	background-color: yellow;
	border: none;
	border-radius: 24px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.button-yellow:hover {
	justify-content: center;
	background-color: #C8C800;
	border: none;
	border-radius: 24px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.button-selected {
	background-color: black;
	border: none;
	border-radius: 24px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.center-button {
	text-align: center;
	padding: 20px;
}

.home-background {
	margin: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 24px;
	background: rgb(0,0,0,.5);
}

.logo {
	background-color: #0B7CFE;
	padding: 10px;
	text-align: center;
}

.no-background {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background: rgb(0,0,0,0);
}

#extra-padding {
	margin-bottom: 10px;
}